html {
  background-image: url(./images/white_carbonfiber.png);
}

/*.box {
	border: 1px solid black;
}*/

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

p {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
