.box {
	border: 1px solid black;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

p {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

/*NAVBAR STYLING*/
.navbar {
  text-align: center;
  background-color: #dd1f25;
  margin-bottom: 10px;
  border-radius: 10px;
  border-color: white; 
}
.navbar a {
  color: white;
}

.navbar ul {
  padding: 0;
}

.navbar li {
  display: inline;
  margin: 10px;
}

/*SIDEBAR STYLING*/
.sidebar {
  width: 15%;
  height: 870px;
  float: left;
  border-radius: 10px;
}

h3 {
  -webkit-appearance: none;
  font-size: 1.17em;
  text-align: center;
}

#favs {
  font-size: .75em;
}

#channel-list-header {
  text-align: center;
}

.channelName {
  float: left;
}

/*RESULTS WINDOW STYLING*/
.results-window {
  float: right;
  width: 84%;
  height: 870px;
}

.live-results, .channel-results, .sign-in, .register {
  text-align: center;
  height: 870px;
  overflow: auto;
  border-radius: 10px;
}

.description {
  width: 700px;
  margin: auto;
  margin-top: 30px;
  text-align: left;
}

.userFeaturesDescription {
  width: 700px;
  margin: auto;
  margin-top: 10px;
  text-align: left;
}

.message {
  width: 700px;
  margin: auto;
}
.video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#video-info {
  width: 360px;
}

#video-title, #channel-title {
  width: 320px;
  text-align: center;
  margin: auto;
}

#video-thumbnail {
  margin: 20px;
}