.sidebar {
  background-color: #2A3797;  
  width: 15%;
  height: 870px;
  float: left;
  border-radius: 10px;
  color: white;
  font-family: league;
  box-shadow: 5px 5px 3px #51504F;
}
@font-face {
  font-family: oswaldBold;
  src: url(./fonts/Oswald-Bold.ttf);
}
.sidebar ul {
  -webkit-padding-start: 0;
  margin-left: 15%;
  font-family: oswaldBold;
}

.sidebar a {
  color: white;
}

.sidebar h3 {
  -webkit-appearance: none;
  text-align: center;
}

.live {
  margin: 30px auto;
  width: 150px;
  font-family: oswaldBold;
  background-color: #605F5E;
  padding: 3px;
  border-radius: 5px;
  box-shadow: 0 3px #28262C;
}

#channel-list-header {
  text-align: center;
  clear: left;
  text-outline: 2px black;
}

.channelName {
  width: 150px;
  margin-top: 7px;
  clear: left;
  float: left;
  background-color: #605F5E;
  padding: 3px;
  border-radius: 5px;
  box-shadow: 0 3px #28262C;
}

.channelName:hover, .live:hover {
  background-color: #51504F;
}

.channelName:active, .live:active {
  background-color: #51504F;
  box-shadow: 0 1.5px #28262C;
  transform: translateY(1.5px);
}